{% extends 'base.html' %} {% block title %}Daily tweets | {% endblock title %}
{% block content %}
<h3 class="my-5 pt-5 text-center">
  Display User tweets according to popularity using number of likes
</h3>
{% for tweet in tweets %}
<div class="card my-5 shadow-sm">
  <h5 class="card-header">
    <small>Posted by</small> {{ tweet.posted_by}} on {{ tweet.timestamp }}
  </h5>
  <div class="card-body">
    <p class="card-text">{{ tweet.text}}</p>
        {% for link in tweet.urls %}
        <a href="{{link.expanded_url}}" target="__blank" class=""
        >{{link.display_url}}</a
        >
        {% endfor %}
  </div>
  <div class="card-footer">
    <div class="d-flex">
      <span class="mr-5"
        ><a href="#">
          Retweets
          <i class="fa fa-retweet" aria-hidden="true"></i>{{tweet.retweets}}</a
        ></span
      >
      <span> Total likes {{tweet.likes }} </span>
    </div>
  </div>
</div>
{% endfor %} {% include "pagination.html" with page=tweets %} 

{% endblock content %}
