{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
  <div class="container">
    <div class="" style="
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  ">
  <h1> Welcome to tweet Retrieval.</h1>
  <h5> This is a web appication that retrieves a choosen number of tweet from a select Twitter account</h5>
      <a href="{% url 'social:begin' 'twitter' %}" class="btn btn-primary p-3">Login with Twitter</a>
      </div>
  </div>
{% endblock %}