<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">
    <a class="navbar-brand" href="{% url 'tips:home' %}">Daily Python Tip</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav mr-auto">
           
        </ul>
        <ul class="navbar-nav">
             <form method="GET" action="" class="form-inline">
                <input class="form-control" width="100%" type="text" name="q" placeholder="Enter Keyword" value="{{ request.GET.q }}"/>
                <button class="btn btn-outline-success my-2 ml-3 my-sm-0" type="submit">Search</button>
              </form> 
        </ul>
    </div>
    </div>
</nav>